{% extends "base.html" %} {% block content %}
<section class="page-section container">
  <h1>Travel Guides</h1>
  <p>
    Plan your trip with our curated guides on India’s most scenic
    eco-destinations.
  </p>
  <article>
    <h3>Top 5 Forest Retreats 🌲</h3>
    <p>Escape into the wild and experience tranquility like never before.</p>
  </article>
  <article>
    <h3>Mountains or Beaches? ⛰️🌊</h3>
    <p>
      We help you decide the perfect nature escape based on your travel mood.
    </p>
  </article>
</section>
{% endblock %}
